@font-face {
  font-family: 'Sarabun';
  src: url('/public/fonts/Sarabun-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Sarabun';
  src: url('/public/fonts/Sarabun-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Sarabun';
  src: url('/public/fonts/Sarabun-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Sarabun';
  src: url('/public/fonts/Sarabun-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Sarabun';
  src: url('/public/fonts/Sarabun-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Sarabun';
  src: url('/public/fonts/Sarabun-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Sarabun';
  src: url('/public/fonts/Sarabun-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

body, html {
  font-family: 'Sarabun', sans-serif;
}
