label.form-label {
  font-size: 1rem;
  font-weight: 500;
  color: #333;
}

h4 {
  text-align:center;
  font-weight: 600;
}

h5 {
  text-align:center;
  font-weight: bold;
}

label.form-check-label {
  color: #333;
}