.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--multiple {
  border: 1px solid #d9dee3;
  border-radius: 0.375rem;
  min-height: 38px;
}

.select2-selection__rendered {
  line-height: 36px !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #696cff !important;
  color: #fff !important;
  border: none !important;
  padding: 0.25rem 0.5rem !important;
  margin-top: 4px !important;
}
